h1,
div {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  color: #525151;
}

div {
  background-color: #fff0dd;
  padding: 3rem 7rem;
  width: fit-content;
  margin: 5rem auto auto auto;
  border-radius: 2px;
  border: 1px solid #e2a16f;
}

#btn {
  background-color: #d1d3d4;
  color: black;
  padding: 9px 12px;
  border: 2px solid #86b0bd;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
}

#btn:hover {
  cursor: pointer;
  background-color: #5353fc;
  color: white;
}
